/* HTML Tags */
body {
    background-image: url("../img/street.png");
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

/* Navigation Bar */
#mainNav {
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

#mainNav a {
    color: #ffffff;
    opacity: 1;
    text-shadow: #444 0 1px 1px;
}

/* Jumbotron Section */
.home-heading {
    margin-bottom: 7%;
    font-weight: 700;
}

.jumbotron {
    background-color: darkgrey;
    text-shadow: #444 0 1px 1px;
    color: #ffffff;
    margin-top: 10%;
    opacity: 0.8;
}

/* Footer Section */
footer {
    background: #ffffff;
    color: #000000;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.footer-text {
    color: #14ffec;
    font-size: 1rem;
}

.social-icon {
    margin: 20px 10px;
}