/* HTML Tags */
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: Montserrat, sans-serif;
}

/* Navigation Bar */
.brand-nav {
    padding: 0.5rem 1rem;
}

#mainNav {
  /*position: absolute;*/
  border-bottom: 1px solid #e9ecef;
  font-family: 'Montserrat',sans-serif;
  background: transparent;
}

.navbar-toggler {
    background-color: #ffffff;
}
