{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Hello, Welcome to the Home Page!</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>A Blog about Computers!</h1>
        <p>This is a blog for everything computer science. Learn from scratch or catch up on the latest tech, frameworks, languages and lots more! Checkout my <a href="https://shiva-adith.github.io/my_portfolio/index.html">Portfolio Website</a> for an overview of my work so far in the fields of Data science and Machine Learning, and also software development!.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">View Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}