{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}
    <div class="header-div">
        <h1 class="posts-heading">All posts are displayed here!</h1>
        <a class="new-post btn btn-success btn-lg" href="/posts/new">+ New Posts</a>
    </div>
    <hr>
    <br>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>

        {% if post.author %}
            <h5><em>Written by: {{ post.author }} on {{ post.date_posted }}</em></h5>
        {% else %}
            <h5><em>Written by Unknown on {{ post.date_posted }}</em></h5>
        {% endif %}
        <br>
        
        <p style="white-space: pre-wrap">{{ post.content }}</p>

        <br>
        <br>

        <a class="btn btn-danger" href="/posts/delete/{{ post.id }}">Delete</a>
        <a class="btn btn-dark" href="/posts/edit/{{ post.id }}">Edit</a>
        <hr>
    {% endfor %}

{% endblock %}