{% extends "base.html" %}

{% block head %}
  <title>Register</title>
{% endblock %}

{% block body %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signin-signup.css') }}">

  <div class="register-heading">
    <h1 class="heading">Register</h1>
  </div>

  <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <form action="" id="registerForm" name="" novalidate="novalidate" method="POST">
          {{ form.hidden_tag() }}
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{ form.username.label }}<br>
              {{ form.username(size=32) }}
              {% if form.username.errors %}
                <ul class="errors">
                  {% for error in form.username.errors %}
                    <li><span style="color: #fa4659;">{{ error }}</span></li>
                  {% endfor %}
                </ul>
              {% endif %}
              <small class="form-text text-danger help-block"></small>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{ form.email.label }}<br>
              {{ form.email(size=64) }}
              {% if form.email.errors %}
                <ul class="errors">
                  {% for error in form.email.errors %}
                    <li><span style="color: #fa4659;">{{ error }}</span></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{ form.password.label }}<br>
              {{ form.password(size=32) }}
              {% if form.password.errors %}
                <ul class="errors">
                  {% for error in form.password.errors %}
                    <li><span style="color: #fa4659;">{{ error }}</span></li>
                  {% endfor %}
                </ul>
              {% endif %}
              <small class="form-text text-danger help-block"></small>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{ form.repeat_password.label }}<br>
              {{ form.repeat_password(size=32) }}
              {% if form.repeat_password.errors %}
                <ul class="errors">
                  {% for error in form.repeat_password.errors %}
                    <li><span style="color: #fa4659;">{{ error }}</span></li>
                  {% endfor %}
                </ul>
              {% endif %}
              <small class="form-text text-danger help-block"></small>
            </div>
          </div>
          <div class="form-group">
            {{ form.submit }}
          </div>
        </form>
      </div>
    </div>

{% endblock %}